@use 'colors_and_fonts' as cf

body
  @include cf.content-font(cf.$warning)
  background-color: cf.$body-bg
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  list-style-type: none

p
  margin: 0
  padding: 0

h1, h2, h3, h4, h5
  margin: 0
  padding: 0

form
  margin: 0
  padding: 0

a
  color: white

.inline
  display: inline-block

.attention 
  color: cf.$attention
  font-weight: bold
