// Swatches
$color-golden: #ffecb0
$color1: #003e14
$color2: #c7b23b
$color3: #262b26
$color4: linear-gradient(to right, #776f52 50%, $color-golden)
$color5: #393425
// Colors: backgrounds
$body-bg: $color4
$main-bg: $color4
$nav-bg: black
$sub-nav-bg: black
$input-gradient-top: $color1
$input-gradient-bottom: $color3
// Colors: notices
$warning: red
$attention: #461212
$error: orange
// Colors: fonts
$headline-font: black
$content-font: white
$description-font: white
$nav-font: $color-golden
$button-font: $color2
$sub-nav-font: $color-golden
$a-font: white
// Colors: blocks
$login-border: 1px solid black
$content-box: $color5
// Forms
$box-shadow-color: rgba(0,0,0,0.6)


$default-padding: 18px
$default-margin: 9px

$radius: 9px


// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald|Bebas+Neue|Lora:700&display=swap"
@mixin content-font($color: $content-font)
  font: 400 12px 'Lato', sans-serif
  color: $color
  text-decoration: none
@mixin headline-font($color: $headline-font, $size: 24px, $weight: 400)
  font: 21px 'Bebas Neue', cursive
  color: $color
  text-decoration: none
@mixin small-headline-font($color: $headline-font, $size: 18px, $weight: 700)
  font: $weight $size 'Lato', sans-serif
  color: $color
  text-decoration: none
@mixin description-font($color: $description-font, $size: 12px)
  font: 400 $size 'Lato', sans-serif
  color: $color
  text-decoration: none
@mixin nav-font
  font: 21px 'Bebas Neue', cursive
  color: $nav-font
  text-decoration: none


// Styles
@mixin borders($color: black)
  border: 1px solid $color
@mixin horizontal-borders($color: black)
  border-top: 1px solid $color
  border-bottom: 1px solid $color
@mixin default-horizontal-padding
  padding-top: $default-padding
  padding-bottom: $default-padding
@mixin default-side-padding
  padding-left: $default-padding
  padding-right: $default-padding
@mixin default-bottom-radius
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius
@mixin default-radius
  border-top-right-radius: $radius
  border-top-left-radius: $radius
  border-bottom-right-radius: $radius
  border-bottom-left-radius: $radius
