@use 'colors_and_fonts' as cf

@mixin ul-style
    ul
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      flex-grow: 3
      li
        @include cf.content-font
        margin: 9px
        p
          margin: 0
          padding: 0

.table
  @include cf.description-font($size: 12px)
  width: 100%
  margin-top: 9px
  &:last-of-type
    margin-bottom: 9px
  .row
    display: flex
    box-sizing: border-box
    width: 100%
    background-color: rgba(0, 0, 0, .5)
    padding: 3px
    @include cf.default-side-padding
    &:nth-child(even)
      background-color: rgba(0, 0, 0, .6)
    .data
      text-align: left
      &:first-child
        width: 99px

main
  display: flex
  justify-content: space-evenly
  padding: 0px
  background: cf.$main-bg
  @include cf.default-bottom-radius
  a:not(.btn), a:visited:not(.btn)
    color: cf.$a-font
    text-decoration: underline
    &:hover
      text-decoration: none
  p
    @include cf.content-font(white)
    padding: 9px
  h1
    @include cf.headline-font
    @include cf.default-side-padding
    flex-basis: 100%
    text-align: center
  h2
    @include cf.headline-font($size: 36px)
    @include cf.default-side-padding
    flex-basis: 100%
    margin-bottom: 27px
  h3
    @include cf.small-headline-font($size: 15px)
    @include cf.default-side-padding
    flex-basis: 100%
  h4
    @include cf.headline-font()
    @include cf.default-side-padding
  h5
    @include cf.description-font
    @include cf.default-side-padding
    text-align: center
    padding-bottom: 30px
  section
    table
      @include cf.default-side-padding
      @include cf.description-font
      padding-bottom: cf.$default-padding
      border-spacing: 3px
      th, td
        padding: 9px
    &#ingredients
      flex-grow: 1
      background-color: cf.$color-golden
      background-image: url('/static/img/corn.png')
      background-repeat: no-repeat
      background-position: bottom
      border-bottom-left-radius: 9px
      @include cf.default-horizontal-padding
      h5
        color: black
      h2
        @include cf.default-side-padding
    &#steps
      flex-grow: 3
      ul, p
        @include cf.default-side-padding
        margin-top: cf.$default-margin
      ul
        @include cf.description-font($color: white, $size: 12px)
        .step
          padding-top: cf.$default-padding
          &:last-of-type
            padding-bottom: cf.$default-padding
  hr
    margin: 0
    height: 9px
    width: 100%
    background-color: cf.$body-bg
    border: 0
  .edit
    background-color: white
    padding: 9px
  .flex-full-width
    flex-basis: 100%
  ul
    width: 100%
    display: flex

.small_box
  width: 180px
  background-color: black
  h1, h2, h3
    color: white
    margin-bottom: cf.$default-margin
    text-align: left
    &:not(h3)
      text-align: center
  margin: cf.$default-margin
  padding: cf.$default-padding
  @include cf.default-radius
  p
    text-align: center
