@use 'colors_and_fonts' as cf

ul
  .step_number
    h4
      padding: 2px 9px 0 9px
      background-color: black
      display: inline
      font-size: 13px
      font-weight: bold
      color: white
      &:last-of-type
        font-weight: normal
  .step_details
    padding: 9px
    background-color: black
    color: white
    @include cf.default-bottom-radius
    border-top-right-radius: cf.$radius
