@use 'colors_and_fonts' as cf

input  
  @include cf.content-font
  display: block
  padding: 3px
  background-color: white
  color: black
  border: 1px solid black
  text-decoration: none
  cursor: default
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.6)
  margin: 3px auto
  &:not([type="checkbox"]):not([class="txt-btn"])
    width: 139px
  &:not([type="checkbox"]):not([class="txt-btn"]):not([type="submit"])
    cursor: text

button, input[type="submit"]:not([class="txt-btn"])
  @include cf.content-font(black)
  height: 27px
  width: 139px
  background: cf.$color-golden
  border: none
  font-weight: bold
  display: block
  box-shadow: inset -1px -1px 1px cf.$box-shadow-color
  margin: 0 auto
  cursor: pointer
  &:active
    box-shadow: inset -1px -1px 1px cf.$box-shadow-color

form
  p
    display: block
  input[type="checkbox"]
    display: inline-block
    padding-bottom: 3px
    position: relative
    top: 3px
    left: 3px

.txt-btn
  @include cf.small-headline-font(cf.$sub-nav-font, 12px)
  display: inline-block
  padding: 0px
  margin: 0px
  background-image: none
  background-color: transparent
  border: none
  border-radius: 0
  cursor: pointer
  &:hover
    text-decoration: underline

