@use 'colors_and_fonts' as cf

body
  @include cf.content-font
  background-image: url('/static/img/dark-honeycomb.png')
  display: grid
  justify-content: center
  grid-template-columns: 1fr minmax(600px, 1200px) 1fr
  grid-template-rows: auto

header
  grid-column: 1 / span 3
  grid-row: 1/2

#sub
  grid-column: 2 / span 1
  grid-row: 2/3
  margin-top: 3px

main
  grid-column: 2 / span 1
  grid-row: 3/4

footer
  grid-column: 2 / span 1
  grid-row: 4/5
