@use 'colors_and_fonts' as cf

nav
  margin: 0
  ul
    display: inline-block
    li, form
      display: inline-block
  &.main
    display: flex
    flex-direction: row
    justify-content: center
    background-color: cf.$nav-bg
    li
      border-bottom: 3px solid white
      padding-top: 3px
      padding-right: 9px
      margin-right: 3px
      padding-left: 9px
      margin-left: 3px

    a, a:visited
      @include cf.nav-font
    a:hover
      color: black
    li:hover
      background-color: white
      color: black

  &#sub
    @include cf.small-headline-font(cf.$sub-nav-font, 12px, 400)
    display: flex
    flex-direction: row
    justify-content: center
    background-color: cf.$sub-nav-bg

    ul
      &.left
        flex-grow: 1
        margin: 3px
      &.center
        flex-grow: 1
        margin: 3px
        text-align: center
      &.right
        flex-grow: 1
        margin: 3px
        text-align: right
      li
        padding: 0 9px 3px 9px
    a, a:visited
      @include cf.small-headline-font(cf.$sub-nav-font, 12px)
      &:hover
        text-decoration: underline

  &.admin
    display: flex
    justify-content: space-between
    background-color: cf.$sub-nav-bg
    margin-bottom: 3px
    ul
      margin: 3px
      li
        padding: 0 3px 0 3px

    a, a:visited
      @include cf.small-headline-font(cf.$sub-nav-font, 12px)
      &:hover
        text-decoration: underline
