{% extends "base.html" %}

{% block sub_nav %}
{% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
		<input type="submit" value="Login"/>
  </form>
  <ul>
    <li><a href="{% url 'account:register' %}">Register new account</a></li>
    <li><a href="{% url 'account:password_reset' %}">Reset password</a></li>
  </ul>
{% endblock %}
