{% extends "base.html" %}

{% block sub_nav %}
{% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
  <p>
    <a href="{% url 'account_email' %}">Edit email</a>
  </p>
  <p>
    <a href="{% url 'account_change_password' %}">Change password</a>
  </p>
{% endblock %}
