{% extends "base.html" %}

{% block sub_nav %}
{% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
<section class="black cropped login">
  {% if user.is_authenticated %}
    <p>{{ user }}, you're already registered!</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{ form.email }}
      {{ form.username }}
      {{ form.password1 }}
      {{ form.password2 }}
      <input type="submit" value="Register"/>
    </form>
  {% endif %}
</section>
{% endblock %}
