{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="small_box">
  <h1>{% trans "Sign Up" %}</h1>

  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.email }}
    {{ form.username }}
    {{ form.password1 }}
    {{ form.password2 }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    </br>
    </br>
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</section>
{% endblock %}
