@import "https://fonts.googleapis.com/css?family=Lato:400,400i,700|Oswald|Bebas+Neue|Lora:700&display=swap";
body {
  font: 400 12px "Lato", sans-serif;
  color: red;
  text-decoration: none;
  background-color: linear-gradient(to right, #776f52 50%, #ffecb0);
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

.inline {
  display: inline-block;
}

.attention {
  color: #461212;
  font-weight: bold;
}

nav {
  margin: 0;
}
nav ul {
  display: inline-block;
}
nav ul li, nav ul form {
  display: inline-block;
}
nav.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}
nav.main li {
  border-bottom: 3px solid white;
  padding-top: 3px;
  padding-right: 9px;
  margin-right: 3px;
  padding-left: 9px;
  margin-left: 3px;
}
nav.main a, nav.main a:visited {
  font: 21px "Bebas Neue", cursive;
  color: #ffecb0;
  text-decoration: none;
}
nav.main a:hover {
  color: black;
}
nav.main li:hover {
  background-color: white;
  color: black;
}
nav#sub {
  font: 400 12px "Lato", sans-serif;
  color: #ffecb0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}
nav#sub ul.left {
  flex-grow: 1;
  margin: 3px;
}
nav#sub ul.center {
  flex-grow: 1;
  margin: 3px;
  text-align: center;
}
nav#sub ul.right {
  flex-grow: 1;
  margin: 3px;
  text-align: right;
}
nav#sub ul li {
  padding: 0 9px 3px 9px;
}
nav#sub a, nav#sub a:visited {
  font: 700 12px "Lato", sans-serif;
  color: #ffecb0;
  text-decoration: none;
}
nav#sub a:hover, nav#sub a:visited:hover {
  text-decoration: underline;
}
nav.admin {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-bottom: 3px;
}
nav.admin ul {
  margin: 3px;
}
nav.admin ul li {
  padding: 0 3px 0 3px;
}
nav.admin a, nav.admin a:visited {
  font: 700 12px "Lato", sans-serif;
  color: #ffecb0;
  text-decoration: none;
}
nav.admin a:hover, nav.admin a:visited:hover {
  text-decoration: underline;
}

.table {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  width: 100%;
  margin-top: 9px;
}
.table:last-of-type {
  margin-bottom: 9px;
}
.table .row {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px;
  padding-left: 18px;
  padding-right: 18px;
}
.table .row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.6);
}
.table .row .data {
  text-align: left;
}
.table .row .data:first-child {
  width: 99px;
}

main {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  background: linear-gradient(to right, #776f52 50%, #ffecb0);
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
main a:not(.btn), main a:visited:not(.btn) {
  color: white;
  text-decoration: underline;
}
main a:not(.btn):hover, main a:visited:not(.btn):hover {
  text-decoration: none;
}
main p {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  padding: 9px;
}
main h1 {
  font: 21px "Bebas Neue", cursive;
  color: black;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  flex-basis: 100%;
  text-align: center;
}
main h2 {
  font: 21px "Bebas Neue", cursive;
  color: black;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  flex-basis: 100%;
  margin-bottom: 27px;
}
main h3 {
  font: 700 15px "Lato", sans-serif;
  color: black;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  flex-basis: 100%;
}
main h4 {
  font: 21px "Bebas Neue", cursive;
  color: black;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
}
main h5 {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  padding-bottom: 30px;
}
main section table {
  padding-left: 18px;
  padding-right: 18px;
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  padding-bottom: 18px;
  border-spacing: 3px;
}
main section table th, main section table td {
  padding: 9px;
}
main section#ingredients {
  flex-grow: 1;
  background-color: #ffecb0;
  background-image: url("/static/img/corn.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-bottom-left-radius: 9px;
  padding-top: 18px;
  padding-bottom: 18px;
}
main section#ingredients h5 {
  color: black;
}
main section#ingredients h2 {
  padding-left: 18px;
  padding-right: 18px;
}
main section#steps {
  flex-grow: 3;
}
main section#steps ul, main section#steps p {
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 9px;
}
main section#steps ul {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
}
main section#steps ul .step {
  padding-top: 18px;
}
main section#steps ul .step:last-of-type {
  padding-bottom: 18px;
}
main hr {
  margin: 0;
  height: 9px;
  width: 100%;
  background-color: linear-gradient(to right, #776f52 50%, #ffecb0);
  border: 0;
}
main .edit {
  background-color: white;
  padding: 9px;
}
main .flex-full-width {
  flex-basis: 100%;
}
main ul {
  width: 100%;
  display: flex;
}

.small_box {
  width: 180px;
  background-color: black;
  margin: 9px;
  padding: 18px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}
.small_box h1, .small_box h2, .small_box h3 {
  color: white;
  margin-bottom: 9px;
  text-align: left;
}
.small_box h1:not(h3), .small_box h2:not(h3), .small_box h3:not(h3) {
  text-align: center;
}
.small_box p {
  text-align: center;
}

body {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  background-image: url("/static/img/dark-honeycomb.png");
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr minmax(600px, 1200px) 1fr;
  grid-template-rows: auto;
}

header {
  grid-column: 1/span 3;
  grid-row: 1/2;
}

#sub {
  grid-column: 2/span 1;
  grid-row: 2/3;
  margin-top: 3px;
}

main {
  grid-column: 2/span 1;
  grid-row: 3/4;
}

footer {
  grid-column: 2/span 1;
  grid-row: 4/5;
}

ul .step_number h4 {
  padding: 2px 9px 0 9px;
  background-color: black;
  display: inline;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
ul .step_number h4:last-of-type {
  font-weight: normal;
}
ul .step_details {
  padding: 9px;
  background-color: black;
  color: white;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  border-top-right-radius: 9px;
}

section ul#created_recipes {
  margin-top: 9px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 3;
}
section ul#created_recipes li {
  text-align: center;
}

input {
  font: 400 12px "Lato", sans-serif;
  color: white;
  text-decoration: none;
  display: block;
  padding: 3px;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  cursor: default;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.6);
  margin: 3px auto;
}
input:not([type=checkbox]):not([class=txt-btn]) {
  width: 139px;
}
input:not([type=checkbox]):not([class=txt-btn]):not([type=submit]) {
  cursor: text;
}

button, input[type=submit]:not([class=txt-btn]) {
  font: 400 12px "Lato", sans-serif;
  color: black;
  text-decoration: none;
  height: 27px;
  width: 139px;
  background: #ffecb0;
  border: none;
  font-weight: bold;
  display: block;
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  cursor: pointer;
}
button:active, input[type=submit]:not([class=txt-btn]):active {
  box-shadow: inset -1px -1px 1px rgba(0, 0, 0, 0.6);
}

form p {
  display: block;
}
form input[type=checkbox] {
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
  top: 3px;
  left: 3px;
}

.txt-btn {
  font: 700 12px "Lato", sans-serif;
  color: #ffecb0;
  text-decoration: none;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  background-image: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
.txt-btn:hover {
  text-decoration: underline;
}
