{% extends "base.html" %}

{% block title %}
  {{ block.super }} - {{ title }}
{% endblock %}

{% block javascripts %}
  {% include "includes/jquery.html" %}
  <!-- https://jqueryui.com/autocomplete/#custom-data -->
  <script>
  $( function() {
    var availableManufacturers = [
      {% for i in available_manufacturers %}
        "{{ i|safe }}",
      {% endfor %}
    ];
    $( "#id_manufacturer" ).autocomplete({
      source: availableManufacturers
    });

    var availableIngredients = [
      {% for i in available_ingredients %}
        "{{ i|safe }}",
      {% endfor %}
    ];
    $( "#id_name" ).autocomplete({
      source: availableIngredients
    });
  });
  </script>
{% endblock %}

{% block sub_nav %}
  {% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
  <form method="post" action="{% url 'recipe:add_ingredient' 'add' %}">
		{% csrf_token %}
		{{ form.as_ul }}
		<input type="submit" value="Create"/>
    <input type="submit" formaction="{% url 'recipe:add_ingredient' 'more' %}" value="Add more"/>
	</form> 
  <a href="{% url 'recipe:created_ingredients' %}">Cancel</a>
  <p>Is there a missing ingredient category you would like to add? Then {% include "includes/feature_request.html" %}
  <br>In the meanwhile just put it in the misc category.</p>
{% endblock %}
