{% extends "base.html" %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block center_nav %}
    <li>
      <a href="{% url 'recipe:add' %}">Add recipe</a>
    </li>
{% endblock %}

{% block content %}
	{% if recipes %}
    <section>
      <ul id="created_recipes">
      {% for recipe in recipes %}
        <li>
          <h4><a href="{% url 'recipe:detail' recipe.id %}">{{ recipe.name }}</a></h4>
          <h5>Published {{ recipe.pub_date }} by {{ recipe.created_by }}</h5>
        </li>
      {% endfor %}
      </ul>
    </section>
	{% else %}
    <section>
      <p>No recipes created by you yet!</p>
    </section>
	{% endif %}
{% endblock %}
