{% extends "base.html" %}

{% block title %}
  {{ block.super }} - {{ title }}
{% endblock %}

{% block center_nav %}
  <li>
    <a href="{% url 'recipe:add_ingredient' 'add' %}">Add ingredient</a>
  </li>
{% endblock %}

{% block content %}
	{% if ingredients %}
		<ul>
		{% for ingredient in ingredients %}
      <li class="small_box">
        <h2>{{ ingredient.name }}</h2>
        <p><b>{{ ingredient.category }}</b></p>
        {% if ingredient.manufacturer.website %}
          <p><i><a href="{{ ingredient.manufacturer.website }}">Manufactured by {{ ingredient.manufacturer }}</a></i></p>
        {% else %}
          <p><i>Manufactured by {{ ingredient.manufacturer }}</i></p>
        {% endif %}
        <p>{{ ingredient.description }}</p>
        <a href="{% url 'recipe:edit_ingredient' ingredient.id %}">Edit</a>
        <ul>
          {% if ingredient.recipe.all %}
            <h3>Previously used in</h3>
            {% for recipe in ingredient.recipe.all %}
              <li><a href="{% url 'recipe:detail' recipe.id %}">{{ recipe.name }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No ingredients created by you yet!</p>
	{% endif %}
{% endblock %}
