{% extends "base.html" %}
{% load static %}

{% block title %}
{{ block.super }} - {{ recipe.name }}
{% endblock %}

{% block javascripts %}
  <script src="{% static 'js/brew_details.js' %}"></script>
{% endblock %}

{% block center_nav %}
  {% if user == recipe.created_by %}
      <li>
        <a href="{% url 'recipe:edit' recipe.id %}">Edit</a>
      </li>
      |
      <li>
        {% include "includes/recipe/forms/publicize_recipe.html" %}
      </li>
      |
      <li>
        {% include "includes/recipe/forms/delete_recipe.html" %}
      </li>
  {% endif %}
{% endblock %}

{% block content %}
    <section id="ingredients">
      <h1>{{ recipe.name }}</h1>
      <h5>
        Created {{ recipe.pub_date|date:'dS F Y' }}
        {% if recipe.created_by %}
        by {{ recipe.created_by }} 
        {% endif %}
      </h5>
      <div class="table">
        <div class="row">
          <div class="data">
            <b>OG</b>
          </div>
          <div class="data">
            {{ recipe.original_gravity }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            <b>FG</b>
          </div>
          <div class="data">
            {{ recipe.final_gravity }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            <b>PH</b>
          </div>
          <div class="data">
            {{ recipe.ph }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            <b>ABV</b>
          </div>
          <div class="data">
            {{ recipe.calculate_abv }}%
          </div>
        </div>
      </div>

      {% if ingredients %}
      <div class="table">
        {% for in_recipe in ingredients %}
        <div class="row">
          <div class="data">
            <b>{{ in_recipe.get_amount }} {{ in_recipe.amount_unit|lower }}</b>
          </div>
          <div class="data">
            {{ in_recipe.ingredient.name }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>

    <section id="steps">
      {% if steps %}
        <ul id="step_list">
        {% for step in steps %}
          <li class="step">
            <div class="step_number">
              <h4>{{ step.order|add:"1" }}</h4><h4>{{ step.category }}</h4>
            </div>
            <div class="step_details">
              <b>{{ step.format_duration }}</b>
            {% if step.ingredientinstep_set.exists %}
              <ul>
              {% for ingredient in step.ingredientinstep_set.all %}
              <li><b>{{ ingredient.get_amount }} {{ ingredient.ingredient.amount_unit|lower }}</b> {{ ingredient.ingredient.ingredient.name }}</li>
              {% endfor %}
              </ul>
            {% endif %}
            {% if step.description %}
              <p>{{ step.description }}</p>
            {% endif %}
          </div>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </section>



{% endblock %}
