{% extends "base.html" %}
{% load static %}

{% block title %}
  {{ block.super }} - {{ recipe.name }}
{% endblock %}

{% block javascripts %}
  {% include "includes/jquery.html" %}
  <script src="{% static 'js/brew_details.js' %}"></script>
  {{ step_description_form.media }}
{% endblock %}

{% block admin_nav %}
  {% if user == recipe.created_by %}
    <nav class="admin">
        <ul>
          <li>
            <a class="txt-btn" href="{% url 'recipe:detail' recipe.id %}">View</a>
          </li>
          <li>
            {% include "includes/recipe/forms/publicize_recipe.html" %}
          </li>
        </ul>
        <ul>
          <li>
            <a class="txt-btn" href="{% url 'recipe:add_ingredient_to_recipe' recipe.id 'add' %}">Add ingredient</a>
          </li>
          <li>
            <a class="txt-btn" href="{% url 'recipe:add_step' recipe.id %}">Add step</a>
          </li>
        </ul>
        <ul>
          <li>
            {% include "includes/recipe/forms/delete_recipe.html" %}
          </li>
        </ul>
    </nav>
  {% endif %}
{% endblock %}

{% block content %}
	<h1>{{ recipe.name }}</h1>
	<h3>{{ recipe.brew_category.name }}</h3>
  <ul>
    <li>Created {{ recipe.pub_date }}
      {% if recipe.created_by %}
        by {{ recipe.created_by }} 
      {% endif %}</li>
  </ul>

	<ul>
    {% if recipe.original_gravity %}
      <li>OG: {{ recipe.original_gravity }}</li>
    {% endif %}
    {% if recipe.final_gravity %}
      <li>FG: {{ recipe.final_gravity }}</li>
    {% endif %}
    {% if recipe.ph %}
      <li>PH: {{ recipe.ph }}</li>
    {% endif %}
      <li>ABV: {{ recipe.calculate_abv }}%</li>
	</ul>
  <hr>
	<h3>Ingredients</h3>
  {% if ingredients %}
    <ul>
    {% for in_recipe in ingredients %}
      <li>
        <h4>{{ in_recipe.ingredient.name }}</h4>
        <h5>{{ in_recipe.ingredient.category }}</h5>
        <h5><i>by {{ in_recipe.ingredient.manufacturer.name }}</i></h5>
        {% if in_recipe.ingredient.description %}
          <i>{{ in_recipe.ingredient.description }}</i>
        {% endif %}
        <p>{{ in_recipe.amount }} {{ in_recipe.amount_unit|lower }}</p>
        {% if user == recipe.created_by and in_recipe.amount_left %}
          <p>Unused in recipe: {{ in_recipe.amount_left }} {{ in_recipe.amount_unit|lower }}</p>
        {% endif %}
        <form class="inline" method="post" action="{% url 'recipe:delete_ingredient_from_recipe' recipe.id in_recipe.id %}" onsubmit="return confirm('Do you really want to remove {{ in_recipe.ingredient.name }} from this recipe?');">
          {% csrf_token %}
          <input type="submit" value="Remove"/>
        </form>        
        <a class="btn" href="{% url 'recipe:edit_ingredient_in_recipe' recipe.id in_recipe.id %}">Edit</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <hr>
  <section>
	<h3>Steps</h3>
  {% if steps %}
    <ul>
    {% for step_and_form in steps_and_forms %}
      <li class="edit step">
        <h4>#{{ step_and_form.step.order|add:"1" }} {{ step_and_form.step.category }}</h4>
        <p><i>{{ step_and_form.step.format_duration }}</i></p>

        {% if user == recipe.created_by %}
          <form class="inline" method="post" action="{% url 'recipe:move_step' recipe.id step_and_form.step.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="up"/>
            <input type="submit" value="Move up"/>
          </form>

          <form class="inline" method="post" action="{% url 'recipe:move_step' recipe.id step_and_form.step.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="down"/>
            <input type="submit" value="Move down"/>
          </form>

          <form method="post" action="{% url 'recipe:move_step' recipe.id step_and_form.step.id %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="arbitrary"/>
            <select name="move_to">
              {% for step_and_form in steps_and_forms %}
              <option value="{{ step_and_form.step.order }}">{{ step_and_form.step.order|add:"1" }}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Move to spot"/>
          </form>

          <form method="post" action="{% url 'recipe:delete_step' recipe.id step_and_form.step.id %}" onsubmit="return confirm('Do you really want to delete {{ step_and_form.step.category.name }}?');">
            {% csrf_token %}
            <input type="submit" value="Delete"/>
          </form>        
          <form method="post">
            {% csrf_token %}
            <li>
              <input type="hidden" name="step" value="{{ step_and_form.step.id }}"/>
              <label for="id_ingredient">Ingredient:</label>
              <select name="ingredient" id="id_ingredient">
                <option value="" disabled selected>Choose ingredient</option>
                {% for ingredient in ingredients %}
                  {% if ingredient.amount_left %}
                    <option value="{{ ingredient.id }}" data-amount_unit="{{ ingredient.amount_unit|lower }}" data-amount="{{ ingredient.amount_left }}">{{ ingredient }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </li>
            <li>
              <label for="id_amount">Amount:</label>
              <input type="number" name="amount" step="0.1" min="0.0" max="{{ ingredient.amount_left }}" required id="id_amount"> <span id="amount_unit">liter</span>
            </li>
            <input type="submit" value="Add ingredient"/>
          </form>

        {% endif %}

        {% if step_and_form.step.ingredientinstep_set.exists %}
          <h4>Ingredients</h4>
          <ul>
          {% for ingredient in step_and_form.step.ingredientinstep_set.all %}
          <li>{{ ingredient.amount }} {{ ingredient.ingredient.amount_unit|lower }} of {{ ingredient.ingredient.ingredient.name }} by {{ ingredient.ingredient.ingredient.manufacturer.name }}</li>
          <form method="post" action="{% url 'recipe:delete_ingredient_from_step' recipe.id ingredient.id %}" onsubmit="return confirm('Do you really want to remove {{ ingredient.ingredient.ingredient.name }} from the {{ step_and_form.step.category.name|lower }} step?');">
            {% csrf_token %}
            <input type="submit" value="Remove"/>
          </form>        
          {% endfor %}
          </ul>
        {% endif %}

        <form method="post" action="{% url 'recipe:edit_step_description' recipe.id step_and_form.step.id %}">
          {% csrf_token %}
          {{ step_and_form.form }}
          <input type="submit" value="Save"/>
        </form>

      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </section>

{% endblock %}
