{% extends "base.html" %}

{% block title %}
  {{ block.super }} - {{ title }}
{% endblock %}

{% block javascripts %}
  {% include "includes/jquery.html" %}
  <!-- https://jqueryui.com/autocomplete/#custom-data -->
  <script>
  $( function() {
    var availableManufacturers = [
      {% for i in available_manufacturers %}
        "{{ i|safe }}",
      {% endfor %}
    ];
    $( "#id_manufacturer" ).autocomplete({
      source: availableManufacturers
    });

    var availableIngredients = [
      {% for i in available_ingredients %}
        "{{ i.name|safe }}",
      {% endfor %}
    ];
    $( "#id_name" ).autocomplete({
      source: availableIngredients
    });
  });
  </script>
{% endblock %}

{% block sub_nav %}
  {% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
  <form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Edit"/>
	</form>
{% endblock %}
