{% extends "base.html" %}

{% block title %}
{{ block.super }} - {{ title }}
{% endblock %}

{% block sub_nav %}
{% include "recipe/nav.html" %}
{% endblock %}

{% block content %}
	{% if recipes %}
		<ul class="recipe_list">
		{% for recipe in recipes %}
				<li class="__single_recipe"><a href="{% url 'recipe:detail' recipe.id %}">{{ recipe.name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No recipes are available.</p>
	{% endif %}
{% endblock %}
