{% if user.is_authenticated %}
  <li><a href="{% url 'recipe:created_recipes' %}">My recipes</a></li>
  |
  <li><a href="{% url 'recipe:created_ingredients' %}">Available ingredients</a></li>
{% endif %}
