{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html>
	<head>
    <title>{% block title %}Ekrubrygg{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% include "includes/jquery.html" %}
  {% block javascripts %}{% endblock %}
	</head>
	<body>
    <header>
      <nav class="main">
        <ul>
          <a href="{% url 'index' %}"><li>HOME</li></a>
          <a href="{% url 'recipe:index' %}"><li>RECIPES</li></a>
        </ul>
      </nav>
      {% block admin_nav %}{% endblock %}
    </header>
    <nav id="sub">
      <ul class="left">
        {% if not user.is_authenticated %}
        <li><a href="{% url 'account_login' %}">Sign in</a></li>
        |
        <li><a href="{% url 'account_signup' %}">Register</a></li>
        {% else %}
          <li>Logged in as <a href="{% url 'profile' %}">{{ user }}</a></li>
          |
          <li>
            <form method="post" action="{% url 'account_logout' %}" novalidate>
              {% csrf_token %}
              <input class="txt-btn" type="submit" value="Logout"/>
            </form>
          </li>
        {% endif %}
      </ul>
      <ul class="center">
        {% block center_nav %}{% endblock %}
      </ul>
      <ul class="right">
        {% if user.is_authenticated %}
          {% include "recipe/nav.html" %}
        {% endif %}
      </ul>
    </nav>
    <main>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </main>
	</body>
</html>
